html{  
           background: -webkit-radial-gradient(center, ellipse, #FFC600 0%, #41520C 100%);  
           background: radial-gradient(ellipse at center, #FFC600 0%, #41520C 100%);  
         
     }    
 .cube *{
	background: -webkit-linear-gradient(left, rgba(251,166,27,0.50) 0px, rgba(251,166,27,0.50) 3px, rgba(0, 0, 0, 0) 0px), -webkit-linear-gradient(top, rgba(251,166,27,0.50) 0px, rgba(251,166,27,0.50) 3px, rgba(0, 0, 0, 0) 0px);
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid rgba(251,166,27,0.50);
	-webkit-box-shadow: 0 0 5em rgba(245,88,7,0.40);
	box-shadow: 0 0 5em rgba(245,88,7,0.40);
   } 
.cube *:before  
    {  
        background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0) 30%, rgba(245,88,7, 0.2) 100%);  
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 30%, rgba(245,88,7, 0.2) 100%);  
 
    }  